// -*- mode: go -*-

// {{ define "older" }}
package rmpackage

var X int
// {{ end }}

// {{ define "older/subpkg" }}
package subpkg

var y int
// {{ end }}

// {{ define "newer" }}
package rmpackage

var X int
// {{ end }}
