// -*- mode: go -*-

// {{ define "older" }}
package relaxconstraint

type T[X comparable] struct {
	Val X
}
// {{ end }}

// {{ define "newer" }}
package relaxconstraint

type T[X any] struct {
	Val X
}
// {{ end }}
