// -*- mode: go -*-

// {{ define "older" }}
package relaxconstraint2

import "constraints"

type T[X constraints.Integer] struct {
	Val X
}
// {{ end }}

// {{ define "newer" }}
package relaxconstraint2

import "constraints"

type T[X constraints.Ordered] struct {
	Val X
}
// {{ end }}
