// -*- mode: go -*-

// {{ define "older" }}
package addmethod

type X interface {
	A() int
}
// {{ end }}

// {{ define "newer" }}
package addmethod

type X interface {
	A() int
	B() string
}
// {{ end }}
