// -*- mode: go -*-

// {{ define "older" }}
package tightenconstraint2

type T[X ~int | ~string] struct {
	Val X
}
// {{ end }}

// {{ define "newer" }}
package tightenconstraint2

type T[X ~int] struct {
	Val X
}
// {{ end }}
