//// -*- mode: go -*-

//// {{ define "older" }}

package assignablechan2

type X chan int

var Y X

//// {{ end }}

//// {{ define "newer" }}

package assignablechan2

type X chan int

var Y chan int

//// {{ end }}
